.imagen-fondo {
  background-image: url(../img/ba1.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgb(43, 42, 42);
  color: white;
  text-align: right;
  padding-left: 50%;
  padding-top: 20%;
  padding-bottom: 15%;
  padding-right: 10%;
}